*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    
}
.sec{
    border:1px solid black;
    float:right;
    width:150px;
    height:auto;
    text-align: center;
    float:right;
    position: relative;
}   

.box{
    border:1px solid black;
    background-color: dimgrey;
    width:auto;
    height:auto;
    position:relative;
    float:left;
} 
h1{
    font-size: 175%;
} 
section{
    font-size: 125%;
}
p{
    padding:5px;
}

#s1{
    background-color: deeppink;
}          
#s2{
    background-color: aqua;
}  
#s3{
    background-color: honeydew;
}
@media (min-width:992px)
{
    h1{
        margin:5%;
    }
    .col-lg-4{
        width:32%;
        float: left;
        margin:5px;
    
    }
}
@media (min-width:768px) and (max-width:991px){
    .col-md-6{
        margin:5px;
        width:48%;
        float:left;
    
    }
     .col-md-12{
            width:97%;
            float: left;
            margin:5px;
    }


}
@media (min-width:0px) and (max-width:767px) 
{
    .col-sm-12{
        box-sizing: border-box ;
        width:100%;
        float: left;
        margin:5px;
    
    }
}
